@charset "UTF-8";


body {
    font-family: Arial, sans-serif;
    background-color: #dddddddd;
    color: rgba(0, 0, 0, 0.8);
}

div#interface {
    width: 990px;
    background-image: url(../portfolio/imagens/fundo-site.jpg);
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10ox black rgba(0, 0, 0, 0.8);
    padding: 10px 10px 10px 10px;
}

header#cabecalho {
    border-bottom: 1px #606060 solid;
    height: 150px;
}

header#cabecalho h1 {
    font-family: 'fontelogo', sans-serif;
    
    
}
nav#menu {
    display: block;
}

nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 300px;
}

nav#menu li{
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    transition: 1s;
}

section#corpo p{
    color: rgb(25, 0, 255);
}